/* #region Common styles */
.section-title {
}

.link {
}

.logo-icon {
}

.btn {
}

.accent-text {
}

.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}
.menu {
}
.menu-item {
}
.menu-link {
}
/* #endregion */

/* #region Header styles */
.header {
}
.header-nav {
}
.header-logo {
}

.header-menu {
}

/* #endregion */

/* #region Hero styles */
.hero {
}
.hero-title {
}

.hero-link {
}

.hero-link-icon {
}
/* #endregion */

/* #region Ingredients styles */
.ingredients {
}
.ingredients-list {
}
.ingredients-item {
}
.ingredients-ill {
}
.ingredients-subtitle {
}
/* #endregion */

/* #region Made styles */
.made {
}
.made-ill {
}
.made-subtitle {
}
.made-list {
}
.made-item {
}
/* #endregion */

/* #region Products styles */
.products {
}

.products-list {
}
.products-item {
}
.products-ill {
}
.products-subtitle {
}
.products-type {
}
.products-label {
}
/* #endregion */

/* #region Bestsellers styles */
.bestsellers {
}
.bestsellers-list {
}
.bestsellers-item {
}
.bestsellers-ill {
}
.bestsellers-subtitle {
}
/* #endregion */

/* #region Reviews styles */
.reviews {
}
.reviews-list {
}
.reviews-item {
}
.reviews-ill {
}
.reviews-author {
}
.reviews-text {
}
/* #endregion */

/* #region Footer styles */
.footer {
}
.footer-slogan {
}
.footer-caption {
}
.contacts {
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
}
.footer-menu {
}

/* #endregion */
